body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

img {
  max-width: 50%;
  flex-grow: 0;
}

.header,
.footer {
  background-color: #1f2937;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.header-links ul {
  display: flex;
  gap: 16px;
  font: 18px;
  color: #e5e7eb;
}

.headline-left {
  display: flex;
  flex-direction: column;
}

.headline-right {
  justify-content: center;
  display: flex;
  max-width: 50vw;
}

ul {
  list-style: none;
}

.body {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: center;
  color: white;
}

.headline {
  display: flex;
  justify-content: space-evenly;
  padding: 16px;
}
