body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

img {
  max-width: 50%;
  flex-grow: 0;
}

button {
  background-color: #3882f6;
  border-radius: 12px;
  width: 20%;
  color: white;
}

.header,
.footer,
.headline {
  background-color: #1f2937;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.header-links ul {
  display: flex;
  gap: 16px;
  font: 18px;
  color: #e5e7eb;
}

.headline-left {
  display: flex;
  flex-direction: column;
}

.headline-right {
  justify-content: center;
  display: flex;
  max-width: 50vw;
}

ul {
  list-style: none;
}

.body {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 16px;
}

.footer {
  display: flex;
  justify-content: center;
  color: white;
}

.headline,
.more-info {
  display: flex;
  justify-content: space-evenly;
  padding: 16px;
}

.img-group {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  overflow-x: scroll;
}

.img-group img {
  max-width: calc(25% - 8px);
}
